name: Release Production apk
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - dev
      - release
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    name: Build & Deploy a release APK
    env:
      APP_NAME: "Smartlets"
      GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      RELEASE_NAME: "patch"
      RELEASE_TYPE: patch
    runs-on: ubuntu-latest
    outputs:
      bump_tag: ${{ steps.bump_tag.outputs.new_tag }}
      bump_tag_version: ${{ steps.bump_tag.outputs.new_version }}
    steps:
      - name: Fetch Repo HEAD
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Java Environment
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Prepare NDK dir for caching
        run: |
          sudo mkdir -p /usr/local/lib/android/sdk/ndk
          sudo chmod -R 777 /usr/local/lib/android/sdk/ndk
          sudo chown -R $USER:$USER /usr/local/lib/android/sdk/ndk

      - name: Fetch NDK Cache
        id: ndk_cache
        uses: actions/cache@v2
        with:
          path: /usr/local/lib/android/sdk/ndk
          key: ${{ runner.os }}-ndk_cache-21.3.6528147

      - name: Install NDK (If no Cache)
        if: steps.ndk_cache.outputs.cache-hit != 'true'
        run: echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;21.3.6528147" --sdk_root=${ANDROID_SDK_ROOT}

      - name: Set up Flutter Environment
        uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.25.x'
          channel: 'beta'

      - run: flutter pub get
      - run: flutter test
      - run: flutter build apk -t lib/main.dart --release --split-per-abi --target-platform android-arm,android-arm64 --flavor prod

      - name: Bump version and push tag
        id: bump_tag
        uses: mathieudutour/github-tag-action@v4.5
        with:
          release_branches: .*
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Push APK to Release Tags
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/*.apk,build/app/outputs/apk/prod/release/*.apk,build/app/outputs/apk/release/*.apk"
          name: ${{ env.APP_NAME }} v${{ steps.bump_tag.outputs.new_version }}
          tag: ${{ steps.bump_tag.outputs.new_tag }}
          token: ${{ env.GITHUB_TOKEN }}
          allowUpdates: true
          omitName: false
          omitBody: false

  slack-notify:
    runs-on: ubuntu-latest
    needs: build
    env:
      APP_NAME: "Smartlets"
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
    steps:
      - name: Send Slack Notification
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_COLOR: '#FF8845'
          SLACK_TITLE: ${{ env.APP_NAME }} ${{ env.RELEASE_NAME }} release version ${{ needs.build.outputs.bump_tag_version }}
          SLACK_MESSAGE: Version ${{ needs.build.outputs.bump_tag_version }} of ${{ env.APP_NAME }} mobile app is available for download at https://github.com/f0rx/smartlets/releases/tag/${{ needs.build.outputs.bump_tag }}
          SLACK_WEBHOOK: ${{ env.SLACK_WEBHOOK }}
          SLACK_MSG_AUTHOR: f0rx
          SLACK_FOOTER: Powered by Smartlets Bot
